@page
@model AcademicoSFA.Pages.GrupoAcad.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GrupoAcad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoAcad.NomGrupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrupoAcad.NomGrupo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoAcad.Periodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrupoAcad.Periodo.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoAcad.Grado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrupoAcad.Grado.NomGrado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GrupoAcad.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
