@page
@model AcademicoSFA.Pages.Administrativo.DeleteModel

@{
	ViewData["Title"] = "¿Desea eliminar el administrativo " + Model.Participante.Nombre + " " + Model.Participante.Apellido + " ?";
}

<style>
	.bg-custom-header {
		background-color: #bc2b2b;
		color: white;
	}
</style>
<div class="row mb-4 align-items-center p-3 shadow-sm rounded bg-light">
	<div class="col-auto">
		<img alt="Logo SFA" src="~/imagenes/logoSFA.png" width="50" height="50" class="rounded-circle border">
	</div>
	<div class="col">
		<h4 class="fw-bold text-primary mb-0">Eliminar administrativo</h4>
		<small class="text-muted">
			&nbsp;Formulario para desactivar un administrativo.
			Al desactivar este administrativo, no se eliminará permanentemente de la base de datos. Podrás recuperarlo en cualquier momento desde la sección "Restaurar Usuarios". Esta acción solo cambiará su estado a "Inactivo".
		</small>
	</div>
</div>

<div class="card-body">
	<h3>@ViewData["Title"]</h3>
	<div>
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Participante.Nombre)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Participante.Nombre)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Participante.Apellido)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Participante.Apellido)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Participante.Documento)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Participante.Documento)
			</dd>
		</dl>
	</div>
	<div class="card-footer">
		<form method="post">
			<input type="hidden" asp-for="Participante.Id" />
			<Button type="submit" class="btn btn-danger me-3">
				<i class="fa-solid fa-trash"></i>&nbsp;Eliminar
			</Button> |
			<a asp-page="./Index" class="btn btn-secondary">
				<i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
			</a>
		</form>
	</div>


</div>
