@page
@model AcademicoSFA.Pages.Pago.DetalleModel
<style>
    .bg-custom-header {
        background-color: #bc2b2b;
        color: white;
    }
</style>
<div class="row mb-4 align-items-center p-3 shadow-sm rounded bg-light">
    <div class="col-auto">
        <img alt="Logo SFA" src="~/imagenes/logoSFA.png" width="50" height="50" class="rounded-circle border">
    </div>
    <div class="col">
        <h4 class="fw-bold text-primary mb-0">Detalle de Pagos</h4>
        <small class="text-muted">Detalle de los pagos realizados por el estudiante.</small>
    </div>
</div>
<table class="table table-hover table-bordered table-striped">
    <thead class="bg-custom-header text-center">
        <tr>
            <th>TAM</th>
            <th>NOMBRE</th>
            <th>DOCUMENTO</th>
            <th>EMAIL</th>
            <th>MES PAGADO</th>
            <th>MONTO</th>
            <th>FECHA PAGO</th>
            <th>TIPO PAGO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pago in Model.DetallePagoModels)
        {
            <tr>
                <td>@pago.TAM</td>
                <td>@pago.nombre</td>
                <td>@pago.documento</td>
                <td>@pago.email</td>
                <td>@pago.mes_pagado</td>
                <td>@pago.monto</td>
                <td>@pago.fecha_pago.ToShortDateString()</td>
                <td>@pago.tipo_pago</td>
                <td class="text-center">
                    <a asp-page="./Edit" asp-route-id="@pago.id_pago" class="btn btn-secondary">
                        <i class="fa-solid fa-pen-square"></i>&nbsp;Modificar
                    </a> |
                    <a asp-page="./Delete" asp-route-id="@pago.id_pago" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>&nbsp;Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Index" class="btn btn-secondary">Volver</a>
